<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('temp1/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset('temp1/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('temp1/dist/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('temp1/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body class="page-container-bg-solid">

<div id="wrapper">
    {% if app.session.flashbag is not empty %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <script>swal("Warning!", "{{ flashMessage }}", "error");</script>
    {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
        <script>swal("Good job!", "{{ flashMessage }}", "success");</script>
        {% endfor %}
    {% endif %}


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>

                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>

                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>

                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>{{ app.user.username|default('') }}
                </a>
                <ul class="dropdown-menu dropdown-user">

                    <li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li >
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Administration<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li >
                                <a href=""><i class="fa fa-user fa-fw"></i>utilisateurs</a>
                            </li>
                            <li>
                                <a href="">configuration</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="#">Buttons</a>
                            </li>
                            <li>
                                <a href="#">Notifications</a>
                            </li>
                            <li>
                                <a href="#">Typography</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li >
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a  href="#">Blank Page</a>
                            </li>
                            <li>
                                <a href="#">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Gestion des Utilisateurs </h1> Ajouter un utilisateur
                </div>

                <!--************************************* -->

                <div class="col-md-6 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <br>
                        </div>
                        <div class="portlet-body form">
                            <form role="form" action="{{ path('add_user') }}" method="post">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input name="email" type="text" class="form-control" placeholder="Email Address"> </div>
                                    </div>

                                    <div class="form-group">
                                        <label>User Name</label>
                                        <div class="input-icon right">
                                            <input name="username" type="text" class="form-control input-circle" placeholder="User Name"> </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <div class="input-group">
                                            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                            <span class="input-group-addon"><i class="fa fa-user font-red"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Confirm Password</label>
                                        <div class="input-group">
                                            <input name="confirmPassword" type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
                                            <span class="input-group-addon"><i class="fa fa-user font-red"></i></span>
                                        </div>
                                    </div>



                                   {# <div class="form-group">
                                        <label>Inline Radio</label>
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio">
                                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="option1" checked=""> Option 1
                                                <span></span>
                                            </label>
                                            <label class="mt-radio">
                                                <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2"> Option 2
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-disabled">
                                                <input type="radio" name="optionsRadios" id="optionsRadios6" value="option3" disabled=""> Disabled
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>#}
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success btn-block">Enregistrer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->

                </div>

                <!--***************************************-->

                <div class="col-lg-12" style="margin-top: 4%">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Liste
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>username</th>
                                        <th>Email</th>
                                        <th>Groups</th>
                                        <th>Etat</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for user in utilisateurs %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>@fat</td>
                                        <td>{% if user.enabled==1 %} <a href="" class="btn btn-success disabled">Active</a> {% else %} <a href="" class="btn btn-danger disabled">Desactive</a>{% endif %}</td>
                                        <td>
                                            <a href="{{ path('active_desactive',{'id':user.id,'enabled':user.enabled}) }}" class="btn btn-primary"><i class="fa fa-user-secret"></i> </a>
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalEdit{{ user.id }}" >
                                                <i class="fa fa-edit"></i> </button>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalDelete{{ user.id }}">
                                                <i class="fa fa-remove"></i>
                                            </button>

                                            {#<button class="btn btn-danger" data-photo-id="{{ user.id }}"><i class="fa fa-remove"></i></button>#}
                                            <!-------------------------------------------->
                                                <!---- Modal Edite ------------>
                                            <div class="modal fade" id="ModalEdit{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Edite User</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="portlet light ">
                                                                <div class="portlet-title">
                                                                    <br>
                                                                </div>
                                                                <div class="portlet-body form">
                                                                    <form role="form" action="{{ path('update_user', {'id':user.id}) }}" method="post">
                                                                        <div class="form-body">
                                                                            <div class="form-group">
                                                                                <label>Email Address</label>
                                                                                <div class="input-group">
                                                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                                                    <input name="email" type="text" class="form-control" value="{{ user.email }}" > </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label>User Name</label>
                                                                                <div class="input-icon right">
                                                                                    <input name="username" type="text" class="form-control input-circle" value="{{ user.username }}"> </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-actions">
                                                                            <button type="submit" class="btn btn-success btn-block">Update</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <a href="{{ path('update_user',{'id':user.id}) }}" type="button" class="btn btn-primary">Update</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                                <!---- Modal Delete ------------>
                                            <div class="modal fade" id="ModalDelete{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Delete User</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sur you want to delete : <strong>{{ user.username }}</strong> from Data Base ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <a href="{{ path('delete_user',{'id':user.id}) }}" type="button" class="btn btn-primary">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{{ asset('temp1/vendor/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('temp1/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset('temp1/vendor/metisMenu/metisMenu.min.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ asset('temp1/dist/js/sb-admin-2.js') }}"></script>

<script>
    $('button.btn btn-danger').click(function() {
        var photoId = $(this).attr("data-photo-id");
        deletePhoto(photoId);
    });

    function deletePhoto(photoId) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this photo?",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "Yes, delete it!",
            confirmButtonColor: "#ec6c62"
        }, function() {
            $.ajax({
                url: "/api/photos/" + photoId,
                type: "DELETE"
            })
                .done(function(data) {
                    swal("Deleted!", "Your file was successfully deleted!", "success");
                })
                .error(function(data) {
                    swal("Oops", "We couldn't connect to the server!", "error");
                });
        });
    }
</script>

</body>

</html>
